<!-- Portfolio Single Gallery
============================================= -->
<section id="slider" class="slider-parallax swiper_wrapper clearfix" style="height: 600px;">

	<div class="swiper-container swiper-parent">
		<div class="swiper-wrapper">
			<div class="swiper-slide" style="background-image: url('/images/portfolio/extended/g.png');"></div>
		</div>
		<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
		<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
	</div>

</section><!-- .portfolio-single-image end -->

<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div class="col_half">

				<h3>Introduction</h3>

				<p>GhumGham: Roam around Nepal!
A public transport solution, discover nearby places and book vehicles/trips for long-distance and short-distance travels.
						
				</p>
				<h2>Overview</h2>
				<p>GhumGham is a public transport solution for the local residents of Kathmandu who are suffering in silence because of lack of availability of information regarding public transports. It provides free information regarding vehicles as well as the transport routes and also helps to find the best and the cheapest transport routes using artificial intelligence. The artificial intelligence (API) resides on a Node.js server, and it is built using world-class technology to minimize latency and maximize data savings (22.6 ms response time and ~2.6 KB data usage on average). It covers on a wide range of parameters to deduce the optimum route--the quality of the road, the traffic, the quality of the vehicle, the time of the day, the availability of the vehicle, the fare, the total route distance, and with even more advanced features upcoming(like real-time vehicle tracking!)
				</p>
				<p>GhumGham has minimum requirements that an app can (probably) run stably, as it works on low-end devices (required Android 2.3 or above, 99.9% of all android devices) while still providing a quality user experience. It is currently available for Android, with the iOS and the web version under rapid development.</p>

			</div>

			<div class="col_half col_last">

				

				<p><h3>Technologies Used:</h3>
				<h4>API server</h4>
				<ul>
					<li>Node.js server</li>
					<li>Express framework</li>
					<li>JavaScript</li>
					<li>Custom Database layer built over MariaDB</li>
				</ul>
				<h4>Android</h4>
				<ul><li>Material Design</li>
					<li>Real-time feedback responses</li>
				</ul>
				<h4>Features</h4>
				<ul>
					<li>State-of-the-art AI used</li>
					<li>Consideration of various parameters such as quality of the road, the traffic, the quality of vehicle, the time of day and the availability of the vehicle during the time, the total fare, the total route distance, etc</li>
					<li>Extremely low latency, 22.2ms on average</li>
					<li>Extremely low data communication, ~2.6KB on average request</li>
					<li>Material design used</li>
					<li>Only 7MB app size</li>
					<li>Book vehicles for long-distance and short-distance journeys</li>
					<li>Search for nearby café, restaurants, etc.</li>

					</ul>

				</p>
			</div>

		</div>
				
		<div class="section dark nomargin noborder" style="height: 550px;">
			<div class="container vertical-middle center clearfix">
				<i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>
				<div class="emphasis-title nomargin" data-animate="fadeInUp">
					<h2 style="font-size: 56px;">Walkthrough Video</h2>
				</div>
			</div>
			<div class="video-wrap">
				<video poster="/images/videos/explore.jpg" preload="auto" loop autoplay muted>
					
				</video> 

				<div class="video-overlay"></div>
			</div>
		</div>

		<!-- <div class="section dark notopmargin nobottommargin noborder" style="padding: 60px 0;background-color: #222;">
			<div class="container-fluid clearfix">

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn">
					<div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="345" data-refresh-interval="20" data-speed="2000"></span></div>
					<h5>Hours Spent</h5>
				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="200">
					<div class="counter counter-large" style="color: #e74c3c;"><span data-from="10" data-to="116" data-refresh-interval="10" data-speed="2000"></span></div>
					<h5>Colors Used</h5>
				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="400">
					<div class="counter counter-large" style="color: #e67e22;"><span data-from="2" data-to="178" data-refresh-interval="13" data-speed="3000"></span></div>
					<h5>Rough Logos Created</h5>
				</div>

				<div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="600">
					<div class="counter counter-large" style="color: #1abc9c;"><span data-from="50" data-to="1523" data-refresh-interval="25" data-speed="2500"></span></div>
					<h5>Papers Trashed</h5>
				</div>

				<div class="col_one_fifth nobottommargin center col_last" data-animate="bounceIn" data-delay="800">
					<div class="counter counter-large" style="color: #9b59b6;"><span data-from="50" data-to="469" data-refresh-interval="30" data-speed="2700"></span></div>
					<h5>Cups of Coffee</h5>
				</div>

			</div>
		</div> -->

		<div class="col-md-12 nopadding common-height ohidden">
			<div class="col-md-6 col-padding" >
				<div>&nbsp;</div>
			</div>
			<div class="col-md-6 col-padding">

				<div class="clearfix">
					<h3>Redesigned everything from the Scratch</h3>

					<div class="col-sm-9 nopadding topmargin-sm clearfix">

						<div class="feature-box fbox-outline fbox-light fbox-effect" data-animate="fadeIn">
							<div class="fbox-icon">
								<a href="#"><i class="icon-line-monitor"></i></a>
							</div>
							<h3>Android and iOS support</h3>
							<p>We have built the app for all the mobile devices, with android and iOS with the main focus. Other platforms will receive the update soon</p>
						</div>

						<div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="200">
							<div class="fbox-icon">
								<a href="#"><i class="icon-line-eye"></i></a>
							</div>
							<h3>Live Feedback</h3>
							<p>We value user feedback and as such have a live chat functionality implemented</p>
						</div>

						<div class="feature-box fbox-outline fbox-light fbox-effect topmargin" data-animate="fadeIn" data-delay="400">
							<div class="fbox-icon">
								<a href="#"><i class="icon-line-layers"></i></a>
							</div>
							<h3>Powerful Performance</h3>
							<p>Optimized code that are completely customizable and deliver unmatched fast performance.</p>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="clear"></div>

		<div class="section nomargin">
			<div class="container clearfix">
				<div class="heading-block center nomargin">
					<h3>Screenshots</h3>
				</div>
			</div>
		</div>

		<div class="nomargin masonry-thumbs col-4" data-lightbox="gallery">
			<a href="/images/portfolio/extended/thumbs/a.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/portfolio/extended/thumbs/a.png" alt="Gallery Thumb 1" height="60%"></a>
			<a href="/images/portfolio/extended/thumbs/b.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/portfolio/extended/thumbs/b.png" alt="Gallery Thumb 2" height="60%"></a>
			<a href="/images/portfolio/extended/thumbs/c.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/portfolio/extended/thumbs/c.png" alt="Gallery Thumb 3" height="60%"></a>
			<a href="/images/portfolio/extended/thumbs/d.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/portfolio/extended/thumbs/d.png" alt="Gallery Thumb 4" height="60%"></a>
		</div>

		<div class="clear"></div>

		<!-- <div class="container topmargin-lg clearfix">

			<div class="col_one_third">
				<h4>Case Study</h4>
				<p>Expedita similique fuga quae voluptatibus molestiae amet rem, veniam nihil, magni quo odit ducimus ipsum suscipit ea aliquid alias cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur modi eos maiores.</p>
			</div>

			<div class="col_one_third">
				<h4>Author Experience</h4>
				<p>Hic corporis modi tempora eligendi ipsa, odit voluptatum cupiditate perferendis architecto repellat odio nam. Quas nesciunt voluptate, incidunt id dolorum corporis deleniti, sapiente a ipsam molestias accusantium.</p>
			</div>

			<div class="col_one_third col_last">
				<h4>Like this Project?</h4>
				<p>Take some time sharing this project for the well being of its development.</p>
				<div class="si-share clearfix">
					<span>Share:</span>
					<div>
						<a href="#" class="social-icon si-borderless si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="social-icon si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>
						<a href="#" class="social-icon si-borderless si-pinterest">
							<i class="icon-pinterest"></i>
							<i class="icon-pinterest"></i>
						</a>
						<a href="#" class="social-icon si-borderless si-gplus">
							<i class="icon-gplus"></i>
							<i class="icon-gplus"></i>
						</a>
						<a href="#" class="social-icon si-borderless si-email3">
							<i class="icon-email3"></i>
							<i class="icon-email3"></i>
						</a>
					</div>
				</div>
			</div>

		</div>

		<a class="button button-purple button-full center tright footer-stick">
			<div class="container clearfix">
				Need us to Design a Logo for You? <strong>Get a Quote</strong> <i class="icon-caret-right" style="top:4px;"></i>
			</div>
		</a> -->

	</div>

</section><!-- #content end -->

