<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
    <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('images/slider/swiper/1.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">We turn IDEAS into creative products</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">The best team delivering great solutions and products.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">Crazy fast development </h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">We are able to develop and deliver projects faster than traditional development methods</p>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video id="slide-video" poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
                            <source src='images/videos/explore.webm' type='video/webm' />
                            <source src='images/videos/explore.mp4' type='video/mp4' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('images/slider/swiper/3.jpg'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2 data-caption-animate="fadeInUp">Equipped with modern tools</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">We use latest tools and technology to design systems that scale way into the future</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
        </div>

        <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

    </div>
</section>